:root {
	--sp: 0.0625rem;
	--accent: blue;
	--accent-tint: .125;
	--surface: #fafafa;
	--color: #060606;
}

html, body {
	height: max-content;
	position: relative;
	min-height: 100%;
	width: 100%;
}
html { background-color: var(--surface); }
html::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: var(--accent-tint);
	position: absolute;
	background-color: var(--accent);
}

.fusion-displayLarge {
	color: var(--color, black);
	letter-spacing: calc(-0.25px / 57px);
	line-height: calc(var(--sp) * 64);
	font-size: calc(var(--sp) * 57);
	font-weight: 400;
}
.fusion-display {
	color: var(--color, black);
	letter-spacing: calc(0px / 45px);
	line-height: calc(var(--sp) * 52);
	font-size: calc(var(--sp) * 45);
	font-weight: 400;
}
.fusion-displaySmall {
	color: var(--color, black);
	letter-spacing: calc(0px / 36px);
	line-height: calc(var(--sp) * 44);
	font-size: calc(var(--sp) * 36);
	font-weight: 400;
}
.fusion-headlineLarge {
	color: var(--color, black);
	letter-spacing: calc(0px / 32px);
	line-height: calc(var(--sp) * 40);
	font-size: calc(var(--sp) * 32);
	font-weight: 400;
}
.fusion-headline {
	color: var(--color, black);
	letter-spacing: calc(0px / 28px);
	line-height: calc(var(--sp) * 36);
	font-size: calc(var(--sp) * 28);
	font-weight: 400;
}
.fusion-headlineSmall {
	color: var(--color, black);
	letter-spacing: calc(0px / 24px);
	line-height: calc(var(--sp) * 32);
	font-size: calc(var(--sp) * 24);
	font-weight: 400;
}
.fusion-titleLarge {
	color: var(--color, black);
	letter-spacing: calc(0px / 22px);
	line-height: calc(var(--sp) * 28);
	font-size: calc(var(--sp) * 22);
	font-weight: 400;
}
.fusion-title {
	color: var(--color, black);
	letter-spacing: calc(0.15px / 16px);
	line-height: calc(var(--sp) * 24);
	font-size: calc(var(--sp) * 16);
	font-weight: 500;
}
.fusion-titleSmall {
	color: var(--color, black);
	letter-spacing: calc(0.1px / 14px);
	line-height: calc(var(--sp) * 20);
	font-size: calc(var(--sp) * 14);
	font-weight: 500;
}
.fusion-labelLarge {
	color: var(--color, black);
	letter-spacing: calc(0.1px / 14px);
	line-height: calc(var(--sp) * 20);
	font-size: calc(var(--sp) * 14);
	font-weight: 500;
}
.fusion-label {
	color: var(--color, black);
	letter-spacing: calc(0.5px / 12px);
	line-height: calc(var(--sp) * 16);
	font-size: calc(var(--sp) * 12);
	font-weight: 500;
}
.fusion-labelSmall {
	color: var(--color, black);
	letter-spacing: calc(0.5px / 11px);
	line-height: calc(var(--sp) * 16);
	font-size: calc(var(--sp) * 11);
	font-weight: 500;
}
.fusion-bodyLarge {
	color: var(--color, black);
	letter-spacing: calc(0.5px / 16px);
	line-height: calc(var(--sp) * 24);
	font-size: calc(var(--sp) * 16);
	font-weight: 400;
}
.fusion-body {
	color: var(--color, black);
	letter-spacing: calc(0.25px / 14px);
	line-height: calc(var(--sp) * 14);
	font-size: calc(var(--sp) * 14);
	font-weight: 400;
}
.fusion-bodySmall {
	color: var(--color, black);
	letter-spacing: calc(0.4px / 12px);
	line-height: calc(var(--sp) * 16);
	font-size: calc(var(--sp) * 12);
	font-weight: 400;
}

.fusion-layout {
	flex-direction: column;
	display: flex;
	width: 100%;
}

header.fusion {
	box-shadow: rgba(0, 0, 0, 0) 0 calc(var(--sp)*100) inset;
	transition: box-shadow 250ms cubic-bezier(0, 0, 0, 1);
	background-color: var(--surface);
	padding: calc(var(--sp)*16);
	gap: calc(var(--sp)*16);
	box-sizing: border-box;
	flex-direction: row;
	position: sticky;
	display: flex;
	width: 100%;
	top: 0;
}
header.fusion.scroll {
	box-shadow: rgba(0, 0, 0, 0.2) 0 calc(var(--sp)*100) inset;
	transition: box-shadow 200ms cubic-bezier(0.3, 0, 1, 1);
}

/* section.fusion {} */
main.fusion {
	flex-grow: 1;
}